name: CI/CD Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request: # <-- This trigger runs whenever a PR is opened or updated
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Run Go tests
        run: go test ./... -v # The key step that validates the code
